/* packages/app/src/components/MainLayout.module.css */

.appLayout {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto; /* Включаем скролл только для основной части */
}